mat-button-toggle-group {
  border-radius: 10px;
  overflow: hidden;
}

mat-button-toggle {
  background: #0f172a;
  color: white;
  border: 1px solid #1A4BFF;
}

mat-button-toggle.mat-button-toggle-checked {
  background: #1A4BFF;
  color: white;
}
